{{define "content"}}
<link rel="stylesheet" href="/static/css/styles_login.css"> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

<form method="POST" action="/topic/create" enctype="multipart/form-data" class="large-form">
    <h1>NOUVEAU SUJET</h1>

    <div class="input-group">
        <i class="fa-solid fa-heading icon"></i>
        <input type="text" name="title" placeholder="Titre du topic" required>
    </div>

    <div class="image-upload">
        <label for="image">
            <i class="fa-solid fa-image"></i> Ajouter une image (Optionnel)
        </label>
        <input class="image-upload" type="file" id="image" name="image" accept="image/*" style="display: none;">
    </div>

    <div class="input-group textarea-group">
        <textarea name="content" placeholder="Contenu de votre message..." rows="8" ></textarea>
    </div>

    <button type="submit">Publier</button>
    <a href="/" style="display: block; text-align: center; margin-top: 15px; color: white; text-decoration: none; opacity: 0.7;">Annuler</a>
</form>
{{end}}